<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team4.mapper.LineMapper">


	<!-- <insert id="insertSubway" parameterType="LineVO">
	INSERT INTO subway (sname, line, snumber)
	VALUES (#{ sname }, #{ line }, #{ snumber })
	</insert>
	
	<insert id="insertCustomer" parameterType="LineVO">
	INSERT INTO customer (snumber, date, hour, division, unumber)
	VALUES (#{ snumber }, #{ date }, #{ hour }, #{ division }, #{ unumber })
	</insert>
	
	<select id="selectDailyUnumberByLine" parameterType="hashmap" resultType="LineVO">
	<select id="selectDailyUnumberByLine" parameterType="hashmap" resultType="LineVO">
	select c.date, c.division, sum(c.unumber) as unumber
	from customer c
	inner join subway s
	on c.snumber = s.snumber
	where s.line = #{ line }
		  and
		  c.division = #{ division }
	group by c.date
	order by c.date
	</select> -->
	
	<select id="selectAvgUnumber" resultType="LineVO">
	select s.line, c.division, sum(c.unumber) as totalNumber, round(avg(c.unumber), 0) as avgNumber
	from customer c
	inner join subway s
	on c.snumber = s.snumber
	group by s.line, c.division;
	</select>
	

	<!-- <select id="selectLine1" resultType="LineVO">
	select c.date, c.division, round(sum(c.unumber)/243,0) as unumber
	from customer c
	inner join subway s
	on c.snumber = s.snumber
	where s.line = 1
	and c.division = '승차'
	group by c.date, c.division
	order by c.date, c.division

	<select id="selectDateLine" resultType="LineVO">
	select c.date, s.line, c.division, sum(c.unumber) as totalNumber, round(avg(c.unumber), 0) as avgNumber
	from customer c
	inner join subway s
	on c.snumber = s.snumber
	where c.date = #{date}
	group by s.line, c.division;

	</select>
	

	<select id="selectLine2" resultType="LineVO">
	select c.date, c.division, round(sum(c.unumber)/243,0) as unumber
	from customer c
	inner join subway s
	on c.snumber = s.snumber
	where s.line = 2
	and c.division = '승차'
	group by c.date, c.division
	order by c.date, c.division

	<select id="selectMonDay" resultType="LineVO">
	select distinct
	month(date) as date
	from customer
	</select>

	<select id="selectDay" resultType="LineVO">
	select distinct
	dayofmonth(date) as day
	from customer
	WHERE month(date) = #{ month }

	</select>
	
	<select id="selectLine3" resultType="LineVO">
	select c.date, c.division, round(sum(c.unumber)/243,0) as unumber
	from customer c
	inner join subway s
	on c.snumber = s.snumber
	where s.line = 3
	and c.division = '승차'
	group by c.date, c.division
	order by c.date, c.division
	</select>
	
	<select id="selectLine4" resultType="LineVO">
	select c.date, c.division, round(sum(c.unumber)/243,0) as unumber
	from customer c
	inner join subway s
	on c.snumber = s.snumber
	where s.line = 4
	and c.division = '승차'
	group by c.date, c.division
	order by c.date, c.division
	
	</select> -->

	<select id="selectAVGandDivision" resultType="LineVO">
	select s.line,month(c.date) as date, day(c.date) as day, c.division, round(Avg(c.unumber),0) as avgNumber
	from customer c
	inner join subway s
	on s.snumber = c.snumber
	where month(c.date) = ${ month } and day(c.date) =${ days }
	group by c.date, c.division,s.line
	order by c.date;
	</select>
	
	<select id="sAll" resultType="LineVO">
	select line, date, round(avg(unumber),0) as avgNumber
	from customer c join subway s
	On c.snumber = s.snumber
	group by line, date
	having month(date) = "${month}";
	</select>

</mapper>